// fonts
$font-family: "Poppins", sans-serif;
$font-title: "Lora", sans-serif;
$font-footer: "Poppins", sans-serif;

// colors
$color-bg: #f8f9fa;
$color-primary: #212f3d;
$color-secondary: #3a546d;
$color-tertiary: #b1efec;
