// fonts
$font-family: merriweather, sans-serif;
$font-title: great vibes, sans-serif;
$font-footer: "Montserrat", sans-serif;



// colors
$color-bg: #f8f9fa;
$color-primary: #212f3d;
$color-secondary: #3a546d;
$color-tertiary: #b1efec;