<div class="previewContainer">
  <button type="button" class="js_resetBtn resetBtn">Resetear tarjeta</button>

  <section class="js_cardPreview cardPreview">
  <h3 class="js_previewTitle previewTitle">Título del libro</h3>
  <h3 class="js_previewAutor previewAutor">Autor/a</h3>
  <h3 class="js_previewGender previewGender">Género</h3>
  <h3 class="js_previewRate starRate">⭐⭐⭐⭐⭐</h3>
  <div class="js__profile-image profile__image"></div>
  <h3 class="js_previewUserName previewUserName">Nombre o Usuario</h3>
  </section>
</div>


