<section class="form__section-1">
  <div class="js_toggle">
    <h2 class="form__section-title" data-label="Diseña" >Diseña 📘</h2>
  </div>
  <div class="form__section-content">
    <fieldset>
      <div class="palette-options">

        <label class="palette-option">
          <input type="radio" name="background" value="romance" class="js-fondo-radio" checked />
          <div class="bg-preview romance-bg-preview"></div>
          <p>Fondo Romance</p>
        </label>

        <label class="palette-option">
          <input type="radio" name="background" value="misterio" class="js-fondo-radio" />
          <div class="bg-preview misterio-bg-preview"></div>
          <p>Fondo Misterio</p>
        </label>

        <label class="palette-option">
          <input type="radio" name="background" value="cienciaficcion" class="js-fondo-radio" />
          <div class="bg-preview cienciaficcion-bg-preview"></div>
          <p>Fondo Ciencia Ficción</p>
        </label>

        <label class="palette-option">
          <input type="radio" name="background" value="fantasia" class="js-fondo-radio" />
          <div class="bg-preview fantasia-bg-preview"></div>
          <p>Fondo Fantasía</p>
        </label>


        <label class="palette-option">
          <input type="radio" name="background" value="poesia" class="js-fondo-radio" />
          <div class="bg-preview poesia-bg-preview"></div>
          <p>Fondo Poesía</p>
        </label>

      </div>

    </fieldset>
  </div>
</section>