<main class="page__main">
  <section class="js_mainSection-1 main__section-1">
    <h2>Una historia puede cambiar tu vida ... o la de alguien más 💫</h2>
    <p>
      ¿Hay un libro que te marcó? ¿Una historia que recomendarías mil veces? En
      “Mi Libro Favorito”, puedes crear una hermosa reseña visual para
      compartirla con otros lectores, hacer nuevas conexiones y descubrir joyas
      literarias que aún no conoces.
    </p>
  </section>
  <section class="js_mainSection-2 main__section-2">
    <article class="mainArticle">
      <img src="./images/icon-disena.png" alt="Diseña" class="main__icon" />
      <p>Diseña</p>
    </article>
    <article class="mainArticle">
      <img src="./images/icon-rellena.png" alt="Rellena" class="main__icon" />
      <p>Rellena</p>
    </article>
    <article class="mainArticle">
      <img src="./images/icon-comparte.png" alt="Comparte" class="main__icon" />
      <p>Comparte</p>
    </article>
  </section>
  <section class="js_mainSection-3 main__section-3">
    <img class=pascal src="./images/PapiPascal.png" alt="">
    <a href="form.html" class="js_buttonCreateCard button__CreateCard buttonStyle "
      >Crea tu tarjeta</a>
  </section>
</main>
